agent_key=<agent secret key>
download_key=<download secret key (optional agent key with download privileges)>
agent_zone=<name of the zone for the agent; default: nginx-tracing-demo>
agent_endpoint=<local ip or remote host; e.g. ingress-red-saas.instana.io>
agent_endpoint_port=<443 already set as default; or 4443 for local>

INSTANA_OTEL_ENDPOINT_HTTP=<Instana OTLP HTTP endpoint; e.g. https://otlp-red-saas.instana.io:4318
INSTANA_HOST_NAME=<hostname used to identify collector entities>
INSTANA_HOST_ID=<host machine-id, used to stamp OTel spans with host.id>
