agent_key=<agent secret key>
download_key=<download secret key (optional agent key with download privileges)>
agent_zone=<name of the zone for the agent; default: openresty-tracing-demo>
agent_endpoint=<local ip or remote host; e.g. ingress-red-saas.instana.io>
agent_endpoint_port=<443 already set as default; or 4443 for local>

# IDOT config:
INSTANA_OTEL_ENDPOINT_HTTP=<Instana OTLP HTTP endpoint; e.g. https://otlp-red-saas.instana.io:4318>
INSTANA_HOST_NAME=<hostname used to identify collector entities>
INSTANA_HOST_ID=<"Host ID" on Instana UI Infra Map, stamps OTel spans with host.id, likely 02:42:ac:ff:fe:1c:00:1e here>

# Details: INSTANA_HOST_ID is used for Infrastructure correlation on Instana UI.
# It has to be the same as the Instana agent reported "Host ID" on the infrastructure map on Instana UI.
# Usually, the EUI-64 MAC address of the virtual Ethernet device of the instana-agent container
# is used here. An IPv4 address can be converted to EUI-64 (IP 172.28.0.30 becomes 02:42:ac:ff:fe:1c:00:1e).
